<p id="notice" class="alert-box"><%= notice %></p>

<h1>Listing Trayectoria</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trayectoria.each do |trayectorium| %>
      <tr>
        <td><%= trayectorium.nombre %></td>
        <td><%= link_to 'Edit', edit_trayectorium_path(trayectorium) %></td>
        <td><%= link_to 'Destroy', trayectorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva trayectoria', new_trayectorium_path, class: "button" %>
<%= link_to 'Atras', home_path, class: "button" %>
